html(lang='zh-CN')
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        // 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！
        meta(name='description', content='')
        meta(name='author', content='')
        link(rel='icon', href='../../favicon.ico')
        title Signin Template for Bootstrap
        // Bootstrap core CSS
        link(rel='stylesheet', href=baseHref + 'public/css/bootstrap.min.css')
        link(rel='stylesheet', href=baseHref + 'public/css/bootstrap-theme.min.css')
        // Custom styles for this template
        link(rel='stylesheet', href=baseHref + 'public/css/signin.css')
        script(type='text/javascript', src=baseHref + 'public/vendor.js')
        script.
            $(document).ready(function(){
              let data;
              let callback;
              let json;
                $("button#submit").click(function(){
                    $.post({
                      url:"#{baseHref}"+'login',
                      data:data,
                      success:callback,
                      dataType:json
                    });
                });
            });
body
    .container
        form.form-signin
            h2.form-signin-heading Please sign in
            label.sr-only(for='inputEmail') Email address
            input#inputEmail.form-control(type='email', placeholder='Email address', required='', autofocus='')
            label.sr-only(for='inputPassword') Password
            input#inputPassword.form-control(type='password', placeholder='Password', required='')
            .checkbox
                label
                    input(type='checkbox', value='remember-me')
                    |  Remember me
            button.btn.btn-lg.btn-primary.btn-block(type='submit',id='submit') Sign in

